{% extends 'base_generic.html' %}
{% block content %}
<h1>Название книги: {{book.title}}</h1>
<p><strong>Жанр: {{book.genre}}</strong></p>
<p><strong>Аннотация: {{book.summary}}</strong></p>
<p><strong>ISBN: {{book.isbn}}</strong></p>
<p><strong>Язык: {{book.language}}</strong></p>
    {% for author in book.author.all %}
    <p><strong>Автор: <a href="">{{author.first_name}} | {{author.last_name}}</a></strong></p>
    {% endfor %}

<div style="margin-left: 20px;
            margin-top: 20px;">

    <h4>Количество экземпляров книг</h4>
    {% for copy in book.bookinstance_set.all %}
        <hr><p class="{% if copy.status == 1 %} text-success
                      {% elif copy.status == 2 %} text-danger
                      {% else %} text-warning
                      {% endif %}">{{copy.get_status_display}}</p>
            <p><strong>Издательство:</strong> {{copy.imprint}}</p>
            <p class="text-muted"><strong>Инвентарный номер:</strong> {{copy.id}}</p>
            <p><strong>Статус экземпляра книги:</strong> {{copy.status}}</p>

        {% if copy.status.id == 1 %}
            {% if user.username != "" %}
                <form method="POST" action="{% url 'book-booked' copy.id %}">
                    {% csrf_token %}
                    <input type="date" name="date_pick" required>
                    <input type="hidden" name="inv_number" value="{{copy.id}}">
                    <button type="submit">
                        <a>Заказать</a>
                    </button>
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}

    <hr>
    <br>

</div>

{% endblock %}

<p><strong>Автор:</strong><a href="">{{author.first_name}} | {{author.last_name}}</a></p>