<!DOCTYPE html>
{% extends 'base_generic.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.session.logined %}
        {% block content %}
            <h2>Logout Page</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>

            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="reset" name="reset">
                <button type="submit">
                    <a href="{% url 'reset' %}">
                        reset password
                    </a>
                </button>
            </form>
        {% endblock %}
    {% endif %}
</body>
</html>